{% extends 'base.html.twig' %}

{% block title %}Project {% endblock %}

{% block body %}
    <div class="w-full px-10 py-6 mx-auto drop-zone loopple-min-height-78vh text-slate-500">
        <div class="mb-5 removable">
            <h1 style="display: block">Project - {{ project.id }} - Template: {{ project.type }}</h1>
            <div>
                {% for wallet in project.wallets %}
                    <div>
                        Type: {{ wallet.function }} <br />
                        Seed: {{ wallet.seed }} <br />
                        Address: {{ wallet.address }} <br />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
